table{
  border-collapse: collapse;
  margin: 1.5rem auto;
}

caption{
    padding-bottom: 1rem;
    font-weight: 300;
}

td, th{
  border: 1px solid var(--primary-border-color);

  padding:0.5rem;

  height:2rem;
  min-width: 2rem;
  text-align: center;
}

th {
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0px;
}