
/* 1. L'animation de base (invisible au départ) */
.fade-in-up {
    opacity: 0; /* Caché par défaut */
    transform: translateY(30px); /* Décalé vers le bas de 30px */
    
    /* L'animation : nom, durée, courbe de vitesse, et 'forwards' pour qu'il reste visible à la fin */
    animation: fadeUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

main section{
  width: 100%;
  max-width: 1500px;
}

/* 2. Les Keyframes (Le mouvement) */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
        backdrop-filter: blur(5px);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(5px);
        transform: translateY(0);
    }
}

/* 3. Les Délais (C'est ça qui crée l'effet de cascade) */
.delay-1 { animation-delay: 0.15s; }
.delay-2 { animation-delay: 0.3s; }
.delay-3 { animation-delay: 0.45s; }
.delay-4 { animation-delay: 0.6s; }

#profile-description{
  padding: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  z-index: 10;
  text-align: justify;
}


#profile-name{
  font-size: clamp(3rem, 10vw, 6rem); 
  line-height: 1.1; /* Resserrer un peu l'interlignage */
  text-align: center;
  
  z-index: 11;
}

#profile-picture{
  width: 200px;
  max-width: 80vw;
  z-index: 13;
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: cover; /* Coupe l'image si nécessaire au lieu de l'écraser */
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--primary-border-color);
}


@media (min-width: 768px) {
  #profile-picture{
    width: 280px;
    max-width: 80vw;
    z-index: 13;
    height: auto;
    aspect-ratio: 1 / 1; 
    object-fit: cover; /* Coupe l'image si nécessaire au lieu de l'écraser */
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--primary-border-color);
  }
}

#hello-world{
  font-size: 1.5rem;
  
  z-index: 15;
  color: var(--secondary-text-color);
  text-transform: uppercase; color: var(--secondary-text-color);

}
#eee{
  z-index: 45;
  margin-top: 4rem;
  text-align: center;
}



.hero h2{
  margin: 15px 0;
  font-size: 1.875rem;
}

.hero div{
  display: flex;
flex-direction: column;
align-items: center;
}

#profile-description h3 {
  text-transform: uppercase;
  font-size: 0.9rem; /* Ou la taille que tu veux */
  font-weight: bold;
  color: #555; /* Un gris sombre fait souvent plus élégant que le noir pur */
  margin-bottom: 0.5rem; /* Remplace ton <br> par une vraie marge */
  letter-spacing: 1px; /* Espacer un peu les lettres majuscules fait très "Premium" */
}

#profile-description p {
  margin: 0;
  line-height: 1.5; /* Aère le texte pour la lecture */
}