header{
  width: 100%;
  height: 63px;
  
  
}

header nav{
  width:1200px;
  height:100%;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 217, 220);
}

header a{
  /* typography */
  color: var(--primary-text-color);
  font-weight: 200;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
  text-decoration: none;
  
  transition: transform 0.3s ease;
}

header a:hover{
  transform: scale(1.1);
}
